.profile-nickname-wrapper {
    display: flex;
    flex-direction: row;
    font-weight: 800;
    max-width: 400px;
}

.profile-nickname {
    font-weight: 800;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
