.input-button {
    animation-name: input-button-initial;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    background: var(--input-button-background);
    border-radius: 5px;
    width: auto;
}

.input-button input {
    animation-duration: 100ms;
    background: rgba(0, 0, 0, 0) !important;
    border: none;
    color: var(--global-color);
    cursor: pointer;
    font-family: Whitney Book, serif;
    font-size: 15px;
    font-weight: 800;
    height: 100%;
    width: 100%;
    outline: none;
}

.input-button:active {
    animation-name: input-button-active-initial;
    animation-duration: 100ms;
    animation-timing-function: ease-in-out;
    transform: scale(0.95);
}

@keyframes input-button-initial {
    0% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes input-button-active-initial {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.95);
    }
}
