.input-text {
    animation-name: input-text-initial;
    animation-duration: 500ms;
    animation-fill-mode: backwards;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 30px;
    position: relative;
    padding: 5px 10px;
    border: 1px solid var(--input-text-border-color);
    border-radius: 5px;
}

.input-text-active {
    border: 1px solid var(--input-text-border-color-active);
}

.input-text input{
    background-color: var(--global-backgound) !important;
    border: none;
    color: var(--global-color);
    font-family: Whitney, serif;
    font-size: 16px;
    font-weight: 100;
    height: 30px;
    outline: none;
    padding-left: 5px;
    width: 100%;
}

.input-text input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px var(--global-backgound) !important;
    -webkit-text-fill-color: var(--global-color);
}

@keyframes input-text-initial {
    0% {
        transform: translate(0, 10px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.input-text-placeholder {
    background-color: var(--global-backgound);
    color: var(--input-text-placeholder-color);
    font-size: 16px;
    left: 10px;
    padding: 0 5px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: top, left, font-size, linear, padding, 100ms;
    user-select: none;
}

.input-text-placeholder-active {
    color: var(--input-text-placeholder-color-active);
    font-size: 14px;
    position: absolute;
    top: -1px;
}
