.competitive-search-card {
    display: flex;
    width: calc(25% - 8px);
    margin: 3px;
    border: 1px solid rgb(0, 0, 0);
    pointer-events: visible;
    cursor: pointer;
}

.competitive-search-card-active {
    background-color: rgb(255, 255, 255);
}
